[Unit]
Description=Run IRLight reaper every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=irlight-reaper.service

[Install]
WantedBy=timers.target
